$seaFoamLight: #D0EFA2;
$darkBlue: #0E486A;

body {
  background-color: $seaFoamLight;
  color: $darkBlue;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.header {
  background-color: $darkBlue;
  color: $seaFoamLight;
  height: 36px;
}

.item {
  text-decoration: none;
  padding: 8px;
  color: $seaFoamLight;
}

.no-highlight {
  text-decoration: none;
  color: inherit;
}

.main {
  width: 100%;
  text-align: center;
  padding-top: 2vh;
}

$logoSize: 256px;
.center-logo {
  width: $logoSize;
  border-radius: $logoSize * (10 / 57);
}

.description {
  width: 100%;
}

