body {
  background-color: #D0EFA2;
  color: #0E486A;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

.logo {
  margin-bottom: 1rem;
  width: 16rem;
  border-radius: 12px;
}

.description {
  width: 100%;
}


