---
title: Public Wifi ● NYC
---

<h1>
  Public Wifi ● NYC
</h1>

<p>
  The New York City Department of Information Technology & Telecommunications (DoITT) provides this data set as part of NYC Open Data. All hotspots in this app come from this source. Any other hotspots/missing information have not been updated by the city yet.This data is fairly up to date, but can have holes.
  </br>
  </br>
  We save this data to your phone so you can find Wifi even when you don't have service! We will attempt to update that data once a month when the data comes available. This app is in no way associated with the City of New York or any of its departments. It is merely a tool for using data open to the public.
  </br>
  </br>
  Public Wifi ● NYC is not associated with the City Of New York or the above institutions directly. We simply consume the data they release.
</p>
</br>
<p>
  <%= link_to "NYC DoITT", "https://www1.nyc.gov/site/doitt/index.page" %> & <%= link_to "the source data they provide.", "https://nycopendata.socrata.com/Social-Services/NYC-Wi-Fi-Hotspot-Locations/a9we-mtpn" %>
</p>
<p>
  If you wish to report an issue with their data, <%= link_to "report it here", "https://opendata.cityofnewyork.us/engage/" %>
</p>
