---
title: Public Wifi ● NYC
---

<h1>
  Public Wifi ● NYC
</h1>

<%= image_tag 'PublicWifiIcon_1024.png', :class => 'logo' %>

<h3 class="description">
  Find LinkNYC and other free hotspots in NYC.</br>Save them to your device so you never go without Wifi.
</h3>

<p>
  Report issues with the App to:
  <%= mail_to "pwnycbugs@gmail.com", "pwnycbugs@gmail.com" %>
</p><!-- .doc -->

